/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
 */

 /* global-css */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Lato", sans-serif;
     font-weight: 400;
     font-size: 16px;
     color: #777;
     padding: 30px;
 }

 /* global-css end */


 /* header-section css start */

 .header {
     height: 95vh;
     /* border: 1px solid red; */
     background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
     background-size: cover;
     background-position: top;
     clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
     position: relative;
 }

 .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
 }

 .logo {
    height: 35px;
 }

 .text-box {
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 60px ;
 }

 .heading-primary-main {
     display: block;
     font-size: 60px;
     font-weight: 400;
     letter-spacing: 35px;
     animation-name: moveInLeft;
     animation-duration: 1s;
     animation-timing-function: ease-out;
 }

 .heading-primary-sub {
     display: block;
     font-size: 20px;
     font-weight: 700;
     letter-spacing: 17.2px;
     animation: moveInRight 1s ease-out;
 }

 @keyframes moveInLeft {
     0% {
        opacity: 0;
        transform: translateX(-100px);
     }
     80% {
        transform: translateX(10px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
 }


 @keyframes moveInRight {
     0% {
        opacity: 0;
        transform: translateX(100px);
     }
     80% {
        transform: translateX(-10px);
     }
     100% {
        opacity: 1;
        transform: translateX(0);
     }
 }


 @keyframes moveInBottom {
     0% {
        opacity: 0;
        transform: translateY(30px);
     }

     100% {
        opacity: 1;
        transform: translateX(0);
     }
 }

 .btn:link,
 .btn:visited {
     text-transform: uppercase;
     text-decoration: none;
     padding: 15px 40px;
     display: inline-block;
     border-radius: 100px;
     transition: all .2s;
     position: relative;
 }

 .btn:hover {
     transform: translateY(-3px);
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
 }

 .btn:active {
     transform: translateY(-1px);
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
 }

 .btn-white {
     color: #777;
     background: #fff;
 }

 .btn::after {
     content: '';
     display: inline-block;
     height: 100%;
     width: 100%;
     border-radius: 100px;
     position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
     transition: all .4s;
 }

 .btn-white::after {
     background: #fff;
 }

 .btn:hover::after {
     transform: scaleX(1.4) scaleY(1.6);
     opacity: 0;
 }

 .btn-animated {
     animation: moveInBottom .5s ease-out .75s;
     animation-fill-mode: backwards;
 }


 /* header-section css end */
